<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!-- User box -->
        
        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="index.html">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Aналитика </span>
                    </a>
                </li>

                <li>
                    <a href="users.html">
                        <i class="fas fa-user-friends"></i>
                        <span> Пользователи </span>
                    </a>
                </li>
                <li>
                    <a href="company.html">
                        <i class="fas fa-building"></i>
                        <span> Компании </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-truck"></i>
                        <span>Транспорт  </span>
                        <span class="menu-arrow"></span>
                    </a>

                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="all-trucks.html">Все Транспорты</a></li>
                        <li><a href="trucks-category.html">Категории</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-view-list"></i>
                        <span> Грузы </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="load-category.html">Все грузы</a></li>
                        <li><a href="load-application.html">Заявление</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="blog.html">
                        <i class="far fa-edit"></i>
                        <span> Блог </span>
                    </a>
                </li>
                <li>
                    <a href="support-chat.html">
                        <i class="fas fa-envelope"></i>
                        <span> Чат поддержки </span>
                    </a>
                </li>
                <li>
                    <a href="support-article.html">
                        <i class="fas fa-scroll"></i>
                        <span> Cтатья поддержки </span>
                    </a>
                </li>
                <li>
                    <a href="admins.html">
                        <i class="fas fa-users-cog"></i>
                        <span> Админы </span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-tools"></i>
                        <span> Настройки </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="settings-currency.html">Валюта</a></li>
                        <li><a href="settings-language.html">Язык</a></li>
                    </ul>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->